<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/myblog.css">
</head>
 <header>
 	<h1>My Blog</h1>
 </header>
 <div class="row">
	<form action="/myblog" method="POST"></form>
 	<div class="left-column">
 	  <div class="card">
 		<h2>TITLE HEADING</h2>
 		<h5>Title description, March 7, 2021</h5>
 		<img src="photos/journalis1.jpg" alt="blog "/>
 		<p>Some text..</p>
 		<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
 	  </div>
 	  <div class="card">
 		<h2>TITLE HEADING</h2>
 		<h5>Title description, March 7, 2021</h5>
 		<img src="#" alt="blog "/>
 		<p>Some text..</p>
 		<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
 	  </div>
 	</div>

 	<div class="right-column">
 		<div class="card">
 			 <h2>About Me</h2>
 			 <img src="#" alt="me"/>
 			 <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
 		</div>
 		<div class="card">
 			 <h3>Popular Post</h3>
 			 <img src="#" alt="popular"/>
 			 <img src="#" alt="popular"/>
 			 <img src="#" alt="popular"/>
 		</div>
 		<div class="card">
 			<h3>Follow Me</h3>
 			<p>Some Text...</p>
 		</div>
 	</div>
 </div>
</body>
